*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'VT323', monospace;
    color: #6ad73e;


    height: 100vh;
    background: url("https://images3.alphacoders.com/776/77605.jpg") no-repeat;
    background-size: cover;


}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 100px 1fr;
}


.main {
    background-color: #2c3724;
    grid-row: 2/3;
    grid-column: 2/-1;
}